* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-around;
        background: green;
        align-items: center;
    }
    section {
        flex: 1;
        width: 100%;
        overflow: hidden;
        .banner {
            width: 100%;
            height: 140px;
            .swiper-container {
                width: 100%;
                height: 100%;
                .swiper-wrapper {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .dls {
            width: 100%;
            height: 140px;
            display: flex;
            flex-wrap: wrap;
            dl {
                width: 20%;
                height: 65px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                dt {
                    width: 35px;
                    height: 35px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                dd {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
        }
    }
}